
/* navbar */

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
 
}
#logo{
  height: 50px;
}
h5{
  text-align: left;
  margin-right: 450px;
}

li, a, button {
   font-family: sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #242424;
   text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}
.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}






.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.mainSection{
  max-height: 100vh;
  width: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  background-color: rgb(248, 255, 253);
  justify-content: space-around;
  align-items: center;
}
.hr{
  color: #d3d1d1;
  height: 1px;

  }
.contentBox{
  justify-content: space-around;
  width:40%;
  padding: 20px;;
  font-size: larger;
  border-radius: 10px;
  align-items: center;

}
.imageContainer{
  border-radius: 3px;
}
.contentBox h1{
  font-size: 3.5rem;
}
.contentBox h2{
  color: rgb(114, 36, 187);
  font-size: 2.5rem;
}
.contentBox p{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btnBox btn{
color: rgb(114, 36, 187);
}
.mainSection1{
  max-height: 100vh;
  width: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  background-color:  rgb(248, 255, 253);
  justify-content: space-around;
  align-items: center;
}
.contentBox1{
  justify-content: space-around;
  width:40%;
  padding: 20px;;
  font-size: larger;
  border-radius: 10px;
  align-items: center;

}
.contentBox1 h1{
  font-size: 3.5rem;
}
.contentBox1 h2{
  color: rgb(114, 36, 187);
  font-size: 2.5rem;
}
.contentBox1 h3{
  color: rgb(148, 87, 204);
}
.contentBox1 p{
  padding-top: 10px;
  padding-bottom: 10px;
}
.serviceSection{
  max-height: 100vh;
  width: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  background-color:  rgba(211, 208, 208, 0.76);
  justify-content: space-around;
  align-items: center;
}
.serviceBox{
  justify-content: space-around;
  width:40%;
  padding: 20px;;
  font-size: larger;
  border-radius: 10px;
  align-items: center;
  padding-bottom: 50px;
}
.serviceBox h1{
  padding-bottom: 20px;
}
.list{
  padding: 10px;
  padding-top: 50px;
}

.list li{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn{
border-radius: 20px;
font-size: 1rem;
border-color:rgb(255, 255, 255);
color: rgb(255, 255, 255);
background-color: rgb(174, 127, 218);
padding: 10px;
}



/* why do we help section*/




.serviceHeader h1{
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.serviceHeader h4{
  text-align: center;
  padding-top: 40px;
  color: rgb(168, 90, 240);
}
.serviceHeader p{
  text-align: center;
}

.services{
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.services h2{
   text-align: center;
}
.services p{
  text-align: center;
  padding: 20px;
}
.card{
  width: 25%;
  text-align: center;
  box-shadow: 0 0 8px #000;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.serviceImg{
  
  padding: 10px;
 width: 200px;
 height: 200px;

 justify-content: center;
}

@media screen and (max-width:990px) {
  .services{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    width: 40%;
   margin-bottom: 2em;
   margin-right: 1em;
  }
  .serviceImg{
   width: 180px;
   height: 180px;
   object-fit: contain;
  }
}
@media screen and (max-width:780px){
  .services{
    display: flex;
    flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }
  .card{
    width: 70%;
   margin: 1em;
  }
}



/* post hire */



.postHeader h1{
  
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.postHeader h4{
  text-align: center;
  padding-top: 40px;
  color: rgb(168, 90, 240);
}
.postHeader p{
  text-align: center;
}

.post{
  width: 100%; 
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.post h2{
   text-align: center;
}
.post p{
  text-align: center;
  padding: 10px;
}
.postCard{
  width: 25%;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
 
}
.postImg{
  padding: 10px;
 width: 200px;
 height: 200px;
 border-radius: 400px;
 justify-content: center;
}

@media screen and (max-width:990px) {
  .post{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .postCard{
    width: 40%;
   margin-bottom: 2em;
   margin-right: 1em;
  }
  .serviceImg{
   width: 180px;
   height: 180px;
   object-fit: contain;
  }
}
@media screen and (max-width:780px){
  .post{
    display: flex;
    flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }
  .postCard{
    width: 70%;
   margin: 1em;
  }
}

.postH{
background-color: rgba(211, 208, 208, 0.76);
}




/* model */




.modelHeader h1{
  
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.modelHeader h4{
  text-align: center;
  padding-top: 40px;
  color: rgb(168, 90, 240);
}
.modelHeader p{
  text-align: center;
}

.model{
  width: 100%; 
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.model h2{
   text-align: center;
}
.model p{
  text-align: center;
  padding: 10px;
}
.modelCard{
  width: 25%;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
 
}
.modelImg{
  
  padding: 10px;
 width: 290px;
 height: 200px;
 justify-content: center;
}

@media screen and (max-width:990px) {
  .model{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .modelCard{
    width: 40%;
   margin-bottom: 2em;
   margin-right: 1em;
  }
  .modelImg{
   width: 180px;
   height: 180px;
   object-fit: contain;
  }
}
@media screen and (max-width:780px){
  .model{
    display: flex;
    flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }
  .modelCard{
    width: 70%;
   margin: 1em;
  }
}

.modelH{
background-color: rgb(255, 255, 255);
}


/*why india*/


.whyindiaHeader h1{
  
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.whyindiaHeader h4{
  text-align: center;
  padding-top: 40px;
  color: rgb(168, 90, 240);
}
.whyindiaHeader p{
  text-align: center;
}

.whyindia{
  width: 100%; 
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.whyindia h2{
   text-align: center;
}
.whyindia p{
  text-align: center;
  padding: 10px;
}
.whyindiaCard{
  width: 25%;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
 
}
.whyindiaImg{
  
  padding: 10px;
 width: 200px;
 height: 200px;
 border-radius: 400px;
 justify-content: center;
}

@media screen and (max-width:990px) {
  .whyindia{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .whyindiaCard{
    width: 40%;
   margin-bottom: 2em;
   margin-right: 1em;
  }
  .whyindiaImg{
   width: 180px;
   height: 180px;
   object-fit: contain;
  }
}
@media screen and (max-width:780px){
  .whyindia{
    display: flex;
    flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }
  .whyindiaCard{
    width: 70%;
   margin: 1em;
  }
}

.whyindiaH{
background-color: rgba(211, 208, 208, 0.76);
}


.contact{
  justify-content: center;
  text-align: center;
  background-color: rgb(152, 94, 245);
  padding-bottom: 40px;
}
.contact h1{
  justify-content: center;
  padding: 50px;
 
}





/* case study */


.caseHeader h1{
  
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.caseHeader h4{
  text-align: center;
  padding-top: 40px;
  color: rgb(168, 90, 240);
}
.caseHeader p{
  text-align: center;
}

.case{
  width: 100%; 
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.case h2{
   text-align: center;
}
.case p{
  text-align: center;
  padding: 10px;
}
.caseCard{
  width: 25%;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
 
}
.caseImg{
  
  padding: 10px;
 width: 290px;
 height: 200px;
 justify-content: center;
}

@media screen and (max-width:990px) {
  .case{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .caseCard{
    width: 40%;
   margin-bottom: 2em;
   margin-right: 1em;
  }
  .caseImg{
   width: 180px;
   height: 180px;
   object-fit: contain;
  }
}
@media screen and (max-width:780px){
  .case{
    display: flex;
    flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }
  .caseCard{
    width: 70%;
   margin: 1em;
  }
}

.caseH{
background-color: rgb(255, 255, 255);
}




/* Footee */

.container{
  justify-content: center;
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}
.footer{
  background-color: #ffffff;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
}
.footer-col h4{
  font-weight: 800;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
  margin-top: 30px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.footer-col ul{
  text-align: center ;
}
.footer-col li{
  padding: 3px;
}
.footer-col ul li a{
  
  font-size: 15px;
  text-transform: capitalize;
  color: #242424;
  text-decoration: none;
  font-weight: 300;
  color: #242424;
  display: block;
}